html, body.mobile {
	width: 100%;
	height: auto;
}

body.mobile .modal-content {
	transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);	
}

body.mobile section#like {
}

body.mobile section#participate {
}

body.mobile section#participate .participateButton {
	width: 50%;
	top: 63%;
	right: 30px;
}

body.mobile section#participate .participateButton img {
	width: 100%;
}

body.mobile section#form {
}

body.mobile section#form form {
	top: 26%;
	left: 28%;
	width: 63%;
}

body.mobile section#form form .conectateFb {
	margin-left: -17%;
}

body.mobile section#form form fieldset input.fullInput {
	background-size: contain;
}

body.mobile section#thanks {
}

body.mobile section#thanks .exitButton {
	width: 38%;
	top: 67%;
	right: 24px;
}

body.mobile section#thanks .exitButton img {
	width: 100%;
}

body.mobile #footer {
	width: auto;
	bottom: 3%;
	right: 18%;
}

body.mobile #footer a.privacyButton {
	margin-left: 15px;	
}

body.mobile #footer a.rulesButton {
	margin-right: 20px;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
	section#form form fieldset {
		top: 25px;
	}
	
	section#form form fieldset label.fullLabel {
		font-size: 9px;
	}
	
	body.mobile section#form form fieldset input.fullInput {
		height: auto;
	}
	
	section#form form fieldset label.fullLabel {
		margin: 0;
	}
	
	section#form form fieldset p.terms {
		margin-top: 15px;
	}
	
	section#form form fieldset p input {
		margin: 0;
	}
	
	section#form form fieldset p label {
		font-size: 9px;
		max-width: 150px;
	}
	
	section#form form .actions {
		top: 390px;
		left: 44px;
	}
	
	section#form form .actions button {
		width: 100%;
	}
}